AddLibrary(tjlutils.h, tjlutils)
AddLibrary(fileutilities.h, tjlutils)
AddLibrary(generalutilities.h, tjlutils)
AddLibrary(mathutilities.h, tjlutils)
AddLibrary(prettyprinter.h, tjlutils)
AddLibrary(templateobjects.h, tjlutils)
AddLibrary(crypto.h, tjlutils)
AddLibrary(pythoncrypto.h, tjlutils)
AddLibrary(arduino.h, tjlutils)
AddLibrary(serialport.h, tjlutils)