AddLibrary(tjlutils.h, tjlutils)
AddLibrary(fileutilities.h, tjlutils)
AddLibrary(generalutilities.h, tjlutils)
AddLibrary(mathutilities.h, tjlutils)
AddLibrary(prettyprinter.h, tjlutils)
AddLibrary(templateobjects.h, tjlutils)
AddLibrary(crypto.h, tjlutils)
AddLibrary(pythoncrypto.h, tjlutils)
AddLibrary(arduino.h, tjlutils)
AddLibrary(serialport.h, tjlutils)
AddLibrary(udpserver.h, tjlutils)
AddLibrary(udpclient.h, tjlutils)
AddLibrary(udpduplex.h, tjlutils)
AddLibrary(tstream.h, tjlutils)
