# Configuration file for easyg++
# easygpp.config
#
# AddLibrary will make easyg++ check the input file for the first argument (a header file), and then
# check if the second argument (the name of a library) is already included on the command line, for compiling
# If it is not found, it will add the library. This behaviour can be overridden with the -l switch

# The AddLibrary syntax is AddLibrary(headerfilename, libraryname), and the command is case insensitive
# AddEditor will make easyg++ include the name of the first argument (a name for the editor program/binary)
# in the search for editor. Note that if the program compiles correctly (g++/gcc returns 0), there is no chance
# to edit the file, so this will not be used
# The AddEditor syntax is AddEditor(editorname), and the command is case insensitive

AddLibrary(tjlutils.h, tjlutils)
AddLibrary(pythoncrypto.h, tjlutils)
AddLibrary(templateobject.h, tjlutils)
AddLibrary(crypto.h, tjlutils)
AddLibrary(systemcommand.h, tjlutils)
AddLibrary(generalutilities.h, tjlutils)
AddLibrary(fileutilities.h, tjlutils)
AddLibrary(mathutilities.h, tjlutils)
AddLibrary(eventtimer.h, tjlutils)
AddLibrary(prettyprinter.h, tjlutils)

AddEditor(myeditor)
